.account-intro {
    background-color: cornflowerblue;
    padding: 10px;
}
.account-intro-header {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: "Nunito", sans-serif;
}
.account-intro-profile-image {
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 10px yellowgreen;
    }
}