@use './shared/global';
@use './shared/error';
@use './shared/navbar';
@use './shared/footer';
@use './components/forgot-password/forgot-password.index';
@use './components/forgot-password/check-email.index';
@use './components/signin/signin.index';
@use './components/todo/todo.index';
@use './components/account/account.index';
@use './components/index/home.index.scss';

html, body {
    height: 100%;
    min-height: 100%;
}
#root {
    height: 100%;
}