#theme-toggle {
    transition: text-shadow, 200ms ease-in-out;
    &:hover {
        transition: text-shadow, 200ms ease-in-out;
        text-shadow: 0 0 10px black;
    }
}
.navbar {
    color: white;
    background-color: darkslategray;
}
.profile-container {
    position: absolute;
    right: 80px;
    top: 7px;
    border: 2px solid lime;
    background-color: whitesmoke;
    border-radius: 50%;
    object-fit: cover;
}
@media only screen and (max-width: 768px){
    #theme-toggle {
        position: absolute;
        top: 12.5px;
        right: 50px;
    }
}