#theme-toggle {
    transition: text-shadow, 200ms ease-in-out;
    &:hover {
        transition: text-shadow, 200ms ease-in-out;
        text-shadow: 0 0 10px black;
    }
}
@media only screen and (max-width: 768px){
    #theme-toggle {
        position: absolute;
        top: 12.5px;
        right: 50px;
    }
}