.signin-form-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signin-form-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.signin-form {
    border-radius: 10px;
    box-shadow: 0 0 10px silver;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    max-width: 750px;
    width: 600px;
}